.table {
    background-color: white;
    border-collapse: separate;
    border-spacing: 0 0.9px;
    width: 100%;
    border-radius: 10px;
    td {
        border: none;
        outline: none;
    }
    th,
    td {
        padding: 8px;
        text-align: center;
    }
    th {
        background-color: white;
    }
    .first-row th {
        border-bottom: 2px solid rgb(227, 227, 227); /* Tạo đường gạch ngang dưới chân cho hàng đầu tiên */
    }
    .export {
        background-color: #ff5159;
    }
    .import {
        background-color: #51ffa9;
    }
}
