* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(32, 53, 96);
    --orange-main: rgb(232, 118, 5);
    --orange-sub: rgb(244, 185, 128);
    --content-color: rgb(244, 248, 251);
}

.content {
    width: 100%;
    height: 100vh;
    background-color: var(--content-color);
    padding-top: 90px;
    display: flex;
}
.tools {
    width: 20%;
    padding: 20px;
}

.main-tools {
    height: 100%;
    border-radius: 15px;
}

.work-space {
    width: 80%;
    background: url('/assets/img/2.jpg') no-repeat center / cover;
    padding: 25px;
}

.work-space-title {
    font-size: 33px;
    margin-bottom: 25px;
}
