.tool-container {
}

.search-tool {
    background-color: white;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
}

.search-tool-title {
    margin-bottom: 20px;
}
.search-tool-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    button {
        margin-top: 25px;
        width: 100px;
        outline: none;
        border: none;
        cursor: pointer;
        background-color: transparent;
        display: flex;
        align-items: center;
        p {
            font-weight: 600;
            font-size: 15px;
            color: #b0b0b0;
        }
        margin-bottom: 25px;
    }
}

.input-product {
    width: 95%;
    height: 25px;
    font-size: 16px;
    border: solid 2px #f4f4f4;
    color: #bababa;
    optgroup {
        padding: 5px;
    }
}

.filter-tool {
    background-color: white;
    width: 100%;
    height: 300px;
    margin-bottom: 15px;
    padding: 10px;
}

.filter-tool-title {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    span {
        margin-right: 10px;
    }
}

.filter-tool-btn {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filter-btn {
    button {
        margin: 10px 0px;
        outline: none;
        border: solid 2px #b2b2b2;
        padding: 6px;
        font-size: 25px;
        width: 125px;
        border-radius: 5px;
        cursor: pointer;
    }
    &.on {
        button {
            background-color: green;
        }
    }
}
